Tarea 8/MoralesRoblesJeancarlo-17-06-2023-TR7.docx
Tarea 8/MoralesRoblesJeancarlo-17-06-2023-TR7.pdf
Tarea 7/MoralesRoblesJeancarlo-17-06-2023-TR7.docx
Tarea 7/MoralesRoblesJeancarlo-17-06-2023-TR7.pdf
Tarea 7/README.md
Tarea 7/Structurizer/Ejercicio_1.nsd
Tarea 7/Structurizer/Ejercicio_2.nsd
Tarea 7/Structurizer/Ejercicio_3.nsd
Tarea 7/Structurizer/Ejercicio_4.nsd
Tarea 7/Structurizer/Ejercicio_5.nsd
Tarea 6/MoralesRoblesJeancarlo-09-06-2023-TR6.docx
Tarea 6/structurizer/metodos/capicua.nsd
Tarea 6/structurizer/metodos/ejercicio_1.nsd
Tarea 6/structurizer/metodos/ejercicio_2.nsd
Tarea 6/structurizer/metodos/ejercicio_3.nsd
Tarea 6/structurizer/metodos/ejercicio_4.nsd
Tarea 6/structurizer/metodos/ejercicio_5.nsd
Tarea 6/structurizer/metodos/ejercicio_6.nsd
Tarea 6/structurizer/metodos/ejercicio_7.nsd
Tarea 6/structurizer/metodos/ejercicio_8.nsd
Tarea 6/structurizer/metodos/ejercicio_9.nsd
Tarea 6/structurizer/metodos/ejercicio_10.nsd
Tarea 6/structurizer/metodos/esNumeroPerfecto.nsd
Tarea 6/structurizer/metodos/esPrimo.nsd
Tarea 6/structurizer/metodos/leerNumero.nsd
Tarea 6/structurizer/metodos/mcd.nsd
Tarea 6/structurizer/metodos/mcm.nsd
Tarea 6/structurizer/metodos/mostrarResultado.nsd
Tarea 6/structurizer/metodos/potencia.nsd
Tarea 6/structurizer/metodos/producto.nsd
Tarea 6/structurizer/metodos/sumaDivisores.nsd
Tarea 6/structurizer/metodos/sumarDigitos.nsd
Tarea 6/structurizer/metodos/sumarDivisores.nsd
Tarea 6/structurizer/normal/ejercicio_1.nsd
Tarea 6/structurizer/normal/ejercicio_2.nsd
Tarea 6/structurizer/normal/ejercicio_3.nsd
Tarea 6/structurizer/normal/ejercicio_4.nsd
Tarea 6/structurizer/normal/ejercicio_5.nsd
Tarea 6/structurizer/normal/ejercicio_6.nsd
Tarea 6/structurizer/normal/ejercicio_7.nsd
Tarea 6/structurizer/normal/ejercicio_8.nsd
Tarea 6/structurizer/normal/ejercicio_9.nsd
Tarea 6/structurizer/normal/ejercicio_10.nsd
Tarea 5/Morales_Robles_Jeancarlo_14-05-2023-TR5.docx
Tarea 5/Morales_Robles_Jeancarlo_14-05-2023-TR5.pdf
Tarea 4/Morales_Robles_Jeancarlo_08-05-2023-T1.docx
Tarea 4/Morales_Robles_Jeancarlo_08-05-2023-T1.pdf
